body {
  position: relative;
  padding-bottom: 6em;
  min-height: 100vh;
}
.nave {
  background-color: rgb(253, 251, 199);
}

.naranja {
  background-color: rgb(252, 250, 223);
}

.detalle {
  list-style: none;
  text-decoration: none;
  color: black;
  background-color: rgb(253, 251, 199);
  padding: 10px;
  margin-bottom: 10px;
}

.fo {
  text-align: center;
  position: absolute;
  bottom: 0;
  background-color: rgb(253, 251, 199);
  width: 100%;
}
